/* style.css */
@media only screen and (min-width: 1200px) {
body {
    margin-left: 5cm;
}
#navbar {
    display: inline;
    position: fixed;
    left: 20px;
    top: 4cm;
}
.classy {
    position: absolute;
    display: inline;
    width: 3.8cm;
    top: .1cm;
    left: .1cm;
}
}